{% extends 'main/base.html' %}

{% block content %}
<h2>
    Mes Contributions
</h2>
<table>
    <tr>
        <th>
            Type de contribution
        </th>
        <th>
            Intitulé
        </th>
        <th>
            Date et heure de publication
        </th>
        <th>
            Actions
        </th>
    </tr>
    <tr>
{% for post in context %}
<p>
    {% if post.content_type == 'TICKET' %}
    {% include 'main/snippets/ticket.html' %}
    {% elif post.content_type == 'REVIEW' %}
    {% include 'main/snippets/review.html' %}
    {% endif %}
    
</tr>
{% endfor %}
</table>

{% endblock %}