{% extends 'main/base.html' %}

{% block content %}
<h2>
    {{ ticket.title }} ({{ ticket.get_review_number }} critique{{ ticket.get_review_number|pluralize }})
</h2>

<p>
    Publié le {{ ticket.time_created|date:"d/m/Y à H:m" }}
</p>

{% if ticket.description|length > 0 %}
<h3>
    Description
</h3>

<p>
    {{ ticket.description }}
</p>
{% else %}
<p>
    Aucune description
</p>
{% endif %}

<p>
    Posté par 
    {% if user == ticket.user %}
    vous
    {% else %}
    {{ ticket.user.username }}
    {% endif %}
</p>

<p>
    <a href="{% url 'new-review' ticket.id %}">
        Rédiger une critique
    </a>
</p>

{% if user == ticket.user %}
<p>
    <a href="{% url 'edit-ticket' ticket.id %}">
        Modifier le ticket
    </a>
</p>

<p>
    <a href="{% url 'delete-ticket' ticket.id %}">
        Supprimer le ticket
    </a>
</p>

<p>
    <a href="{% url 'contributions' %}">
        Retour à mes contributions
    </a>
</p>
{% else %}
<p>
    <a href="{% url 'contributions' ticket.user.id %}">
        Retour aux contributions de {{ ticket.user.username }}
    </a>
</p>
{% endif %}
{% endblock %}
