{% extends 'main/base.html' %}

{% block content %}
    <h2>
        Modifier un ticket
    </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enregistrer les modifications"/>
    </form>

    <p>
        <a href="{% url 'delete-ticket' ticket.id %}">
            Supprimer le ticket
        </a>
    </p>

    <p>
        <a href="{% url 'contributions' user.id %}">
            Retour à mes contributions
        </a>
    </p>
{% endblock %}
