{% extends 'main/base.html' %}

{% block content %}
    <h2>
        Mes Abonnements
    </h2>

    <h3>
        Suivre un utilisateur
    </h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Valider le suivi"/>
    </form>

    <h3>
        Personnes que je suis
    </h3>

    <p>
        Ici, la liste des personnes que je suis
    </p>

    <h3>
        Personnes qui me suivent
    </h3>
            
    <p>
        Ici, la liste des personnes qui me suivent
    </p>
{% endblock %}
