{% extends 'main/base.html' %}

{% block content %}
<h2>
    Bienvenue
</h2>

<div class="flex-box">
    <div class="column">
        <h3>
            Inscrivez-vous maintenant
        </h3>
        <a href="{% url 'signup' %}">
            S'inscrire
        </a>
    </div>
    <div class="column">
        <h3>
            Connexion
        </h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Connexion" />
        </form>
    </div>
</div>
{% endblock %}
